#toggleAssist,
ul.nav-links {
    display: none;
}

#toggleAssist:checked + ul.nav-links {
    display: block;
}

#design {
    background-color: salmon;
}

.color{
    background-color: yellow;
}
@media (min-width: 768px) {
  .toggle-button {
        display: none;
    }

    ul.nav-links {
        display: block;


        float: right;
    }

    .nav-links li {
        display: inline-block;

        padding: 10px;

        border-bottom: none;

    }

}
