.bg-blue {
    background-color: teal;
}

.bg-purple{
    background-attachment: purple;
}

.bg-green {
    background-color:green;
}

.bg-scarlet {
    background-color: red;
}

.bg-orange {
    background-color: orange;
}